// BASIC CONFIGURATION
/*

	These configuration settings are used to setup the requirements for a basic web server.
	If you only intend to serve basic web pages, then configure the settings here.

*/
var basic_cfg = {
	"app_port"		: 8021													// What port should our application run on?
};

// ADVANCED CONFIGURATION
/*

	These configuration settings are more advanced and are used if you require expert-level features.
	For example, if you wish to make use of routing or set a view engine, then you can set that here.
	Authentication details are also set here.

*/
var adv_cfg	=	{
	app								:	{
		"session_key"			: "1",															// Session Key
		"session_secret"		: "2",															// Session Secret
		"session_name"			: "3",															// Cookie name
		"debug_log"				: __dirname + "/debug.log",				// Debug log location
		"session_age"			: 1000*60*8,											// Time in seconds for sessions to stay alive
		"public_dir"				: __dirname + "/application/public",	// Public assets directory location
		modules						:	{
			"router"						:	"application.router.js",						//	Our router module filename, found in /application/modules
			"functions"					:	"application.functions.js",					//	Our functions module filename, found in /application/modules
		},
		servers	:	[																				//	An array of servers that are part of our cluster
			"http://devbox.net.local:8020",
			"http://devbox.net.local:8021"
		],
		sharedKey					:	"4"
	},
};

// THIRD PARTY SERVICES OBJECT
/*

	This section lists all third party services utilized by our application
	These will be checked for existance and installed locally if not already installed.
	This was easier for me than using npm install for the sake of future additions or changes

*/
var _third_party	=	{
	
};

// APPLICATION STRINGS OBJECT
/*

	This section contains application strings
	For example, when a stripe charge fails, we can modify the string here that will be sent to users
	
*/

var _appstrings	=	{
	
	
};


module.exports.cfg					= basic_cfg;
module.exports.adv_cfg			= adv_cfg;
module.exports.TPSvcs			= _third_party;
module.exports.appStrings		=	_appstrings;
require("./application/application.js");